.root {
	-fx-background-size: 400 600;
}
#firstBackImage {
	-fx-background-size: 400 600;
}
#firstBackColor {
	-fx-background-size: 400 600;
	-fx-background-color: #07186e;
	-fx-opacity: 0.75;
}
Button {
  	-fx-background-color: transparent;
  	-fx-border-radius: 2px;
  	-fx-text-fill: linear-gradient(to left, #FA8C25, #F5119A);
  	-fx-font-weight: bold;
  	-fx-border-width: 4px;
  	-fx-border-color: linear-gradient(to left, #FA8C25, #F5119A);
}
#title{
	-fx-text-fill: white;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-font-weight: bold;
}